<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plexer0.nitter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nitter_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nitter_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nitter">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="nitter.net" />
		<data android:host="nitter.kavin.rocks" />
		<data android:host="nitter.sethforprivacy.com" />
		<data android:host="nitter.datatunnel.xyz" />
		<data android:host="nitter.actionsack.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>
